.customer-review img {
    height: 200px;
}


.customer-review {
    height: 430px;
    width: 350px;
    margin: auto;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: antiquewhite;
}