.home-container {
    display: grid;
    grid-template-columns: 2fr 2fr;

}

.text-container h1 {
    margin-top: 150px;
}

.headphone {
    margin-left: 100px;
}

.btn {
    background-color: gainsboro;
    padding: 20px 50px;
    margin: 10px;
    border-radius: 10px;
    border: none;

}

.btn a {
    text-decoration: none;
    color: crimson;
    font-size: large;
}

.customer {
    text-align: center;
    color: crimson;
    margin-top: 100px;

}

.review {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;

}